// media at 0-480 px
@media (min-width: 0px) and (max-width: 480px){
    .logo{
        display: flex;
        justify-content: center;
    }


    .symbol{
        display: flex;
        justify-content: center;
    }

    // changing size to be responsive
    .infographics img{
        max-width: 20%;
        height: auto;
    }
}

// media from 481-1024 px
@media (min-width: 481px) and (max-width: 1024px){
    .logo{
        display: flex;
        justify-content: center;
    }


    .symbol{
        display: flex;
        justify-content: center;
    }

    // changing size to be responsive
    .infographics img{
        max-width: 30%;
        height: auto;
    }
}

// media from 1025 to above
@media (min-width: 1025px){
    .logo{
        display: flex;
        justify-content: center;
    }


    .symbol{
        display: flex;
        justify-content: center;
    }
    
    // changing size to be responsive
    .infographics img{
        max-width: 30%;
        height: auto;
    }
}